.flex_box {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.top_height {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}
.top_height2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 10px;
}
.margin{
    margin: 50px;
}

.box{
    width: 75%;
    margin: auto;
    background-color: yellowgreen;
    color: black;
    height: 300px;
}

.middle{
    width: 80%;
    margin: auto;
}

.box1{
    width: 20%;
    margin-top: 50px;
    height: 100vh;
    background-color: rgb(132, 136, 125);
    border: 5px solid yellowgreen;
    border-radius: 30px;
}
.box2{
    width: 70%;
    height: 100vh;
    border-radius: 30px;
    margin-top: 50px;
    background-color: rgb(132, 136, 125);
    border: 5px solid yellowgreen;
    /* visibility: hidden; */
}

.slip{
    height: 70px;
    width: 90%;
    margin: 13px;
    background-color: rgb(27, 27, 27);
}

.white_box{
    background-color: white;
    padding: 10px;
    width: 135px;
    font-size: 14px;
}
#length_box{
    visibility: hidden;
}
#area_box{
    visibility: hidden;
}
#time_box{
    visibility: hidden;
}
#temperature_box{
    visibility: hidden;
}
#weight_box{
    visibility: hidden;
}
#volume_box{
    visibility: hidden;
}
